.form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form{
  width: 100%;
  display:flex;
  align-items: center;
  flex-direction: column;
}
.user{
  margin-top: 10px;
}

mat-form-field
{
  margin: 10px 0;
}
.user,.pass,.alternativas {
  width: 50%;
}

a{
  color:#696363;
}
a:visited{
  color:#607C3C;
}
.alternativas__enlace{
  display: block;
  margin-bottom: 10px;
}
td {
  padding-right: 8px;
}

.enviar{
  width: 20%;
  height: 50px;
  box-shadow: 0 5px 10px 0 #000a;
}
.enviar:hover{
  background-color: #6e9911;
}
.mat-custom-color{
  background-color: #95D907 !important;
  transition-property: background-color;
  transition-duration: 0.2s;
  font-family: Nunito !important;
  font-size: large;
  color:#FFF !important;
}
.mat-custom-color[disabled]{
  background-color: #636363!important;
}
.mat-custom-color:hover{
  background-color: #6e9911 !important;
}
.error__formulario{
  margin-top: 10px;
}
