<mat-horizontal-stepper linear>
  <mat-step [stepControl]="personalInfoForm">
    <form [formGroup]="personalInfoForm">
      <h2>¿CÓMO ERES?</h2>
      <div class="form-group">
        <label for="sexo">SEXO</label>
        <button type="button" (click)="personalInfoForm.patchValue({ sexo: 'F' })">F</button>
        <button type="button" (click)="personalInfoForm.patchValue({ sexo: 'M' })">M</button>
      </div>
      <div class="form-group">
        <label for="edad">EDAD</label>
        <input id="edad" formControlName="edad" type="number" placeholder="Escribe tu edad">
      </div>
      <div class="form-group">
        <label for="peso">ESCRIBE PESO (KG)</label>
        <input id="peso" formControlName="peso" type="number" placeholder="Escribe tu peso">
      </div>
      <div class="form-group">
        <label for="altura">ESCRIBE ALTURA (CM)</label>
        <input id="altura" formControlName="altura" type="number" placeholder="Escribe tu altura">
      </div>
      <div class="form-group">
        <label for="grasaCorporal">TU GRASA CORPORAL (OPCIONAL)</label>
        <input id="grasaCorporal" formControlName="grasaCorporal" type="number" placeholder="Escribe tu grasa corporal">
      </div>
      <div>
        <button mat-button matStepperNext>Siguiente</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="comidaForm">
    <h2>¿QUÉ TIPOS DE COMIDA PUEDES COMER?</h2>
    <div *ngFor="let tipo of tiposComida" class="form-group">
      <button type="button" (click)="onToggleSelect(tipo)" [class.selected]="tipo.selected">{{ tipo.name }}</button>
    </div>
    <div class="form-buttons">
      <button mat-button matStepperPrevious>Atrás</button>
      <button mat-button (click)="onSubmit()">Enviar</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>